
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Verification</title>
  </head>
  <body>
    <div
      style="
						width: 400px;
						height: 100%;
						text-align: center;
						justify-self: center;
						margin: auto;
					"
    >
      <div style="width: 100%">
        <div style="width: 400px; display: inline-block; text-align: justify">
          Hello
          {{fullName}},
          <br />
          <br />

          Are you excited to gain access to all of the framing solutions we
          prepared for You?
          <br /><br />

          First, you must complete your registration by using the 4-digits OTP
          {{verificationCode}}.
          <br />
          <br />

          This OTP will verify your email address, and then you'll officially be
          a part of the Lenzr community.
          <br /><br />

          <br />
          See you there!
          <br /><br />
          Best regards,<br />
          The Lenzr Team
        </div>
      </div>
    </div>
  </body>
</html>
